<div class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0">
    <div class="flex items-center mb-6 text-2xl font-semibold text-gray-900 dark:text-white" >
        <h1 class=" center w-8 h-8 mr-2"><%= @user.username %></h1>
    </div>
    <br>
    <%# <%= gravitar_for @user, size: 200 %>
    <h1 class=" center w-8 h-8 mr-2">Articles</h1>
    <div class="flex items-center mb-6 text-2xl font-semibold text-gray-900 dark:text-white" >
        <br><%= render 'articles/article' %><br>
    </div>
    <%= link_to 'Home', root_path %>
</div>